@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  margin: 0 119px;
}

.nav-menu {
  border: 1px solid red;
  margin: 0;
}

.nav-menu ul {
  border: 1px solid red;
  display: flex;
  list-style: none
};

